# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mlflow_db
POSTGRES_PORT=5432
POSTGRES_CONTAINER=mlflow-db

# MinIO
MINIO_ROOT_USER=root
MINIO_ROOT_PASSWORD=password
MINIO_ACCESS_KEY_ID=mlflow-user
MINIO_SECRET_ACCESS_KEY=access-key
MINIO_CONTAINER=minio
MINIO_PORT=9000
MLFLOW_S3_ENDPOINT_URL=http://${MINIO_CONTAINER}:${MINIO_PORT}

BUCKET_NAME=mlflow-bucket